<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PortCheck.Properties.Settings>
            <setting name="LastPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CachedIP" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="ConnTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
        </PortCheck.Properties.Settings>
    </userSettings>
</configuration>